<div class="container-fluid combate-container">
  <audio autoplay loop></audio>
  <div class="row">
    <div class="col-lg-8">
      <div class="card chat-container">
        <div class="card-header">
          <h2>Combate</h2>
          <button class="btn" (click)="waitForOpponent()">Buscar partida</button>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-12">
              <p>Turno actual: {{ turno }}</p>
            </div>
            <div class="col-lg-12 pokeStageParent">
              <div class="pokeStage">
                <div class="fondoCombate">
                  <div class="linea top"></div>
                  <div class="spriteUser"></div>
                  <div class="pjUser"></div>
                  <div class="vs"></div>
                  <div class="spriteContra"></div>
                  <div class="pjContra"></div>
                  <div class="linea bottom"></div>
                  <div class="flash flash1"></div>
                  <div class="flash flash2"></div>
                  <div class="flash flash3"></div>
                  <div class="flash flash4"></div>
                  <div class="flash flash5"></div>
                  <div class="flash flash6"></div>
                </div>
                <div class="pokeInfoUser">
                  <div class="general">{{ pokeActivo?.nombre }}</div>
                </div>
                <div class="personajeUser"></div>
                <div class="pokeInfoContra">
                  <div class="general">{{ pokeContraActivo?.nombre }}</div>
                </div>
                <div class="personajeContra"></div>
                <div class="pokeActivoUser"></div>
                <div class="pokeActivoContra"></div>
              </div>
            </div>
            <div class="col-lg-12 p-4 d-flex justify-content-around" id="divBotones">
              <button disabled class="botones btn" *ngFor="let movimiento of movimientos" (click)="sendActionAndServerMessage(movimiento.nombre,movimiento.danio)"
                      [value]="movimiento.danio"> {{ movimiento.nombre }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 d-flex justify-content-around">
      <div>
        <div class="chat-container">
          <div class="card">
            <div class="card-header">
              Sala: {{ roomId ? roomId : 'Entra en combate para usar el chat' }}
            </div>
            <div class="card-body messages">
              <div *ngFor="let msg of messages" class="message">
                <strong>{{ msg.userId }}:</strong> {{ msg.message }}
              </div>
            </div>
            <div class="card-footer">
              <div class="input-group">
                <input type="text" class="form-control" [(ngModel)]="message" (keyup.enter)="sendMessage()" placeholder="Escribe un mensaje...">
                <button class="btn btn-primary" (click)="sendMessage()">Enviar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
      </div>
    </div>
  </div>
</div>
