.pokeStageParent{
  height: 400px;
}

.pokeStage{
  display: grid;
  position: relative;
  grid-template-columns: repeat(20,1fr);
  grid-template-rows: repeat(20,1fr);
  border-radius: 10px;
  overflow: hidden;
  height: 400px;
  background-size: 100% 100%;
  background-image: url("/assets/k/combatStage.png");
  background-repeat: no-repeat;
  z-index: 1 ;
}

/* intro Vs*/

.fondoCombate{
  grid-area: 1/1/21/21;
  display: grid;
  position: relative;
  grid-template-columns: repeat(20,1fr);
  grid-template-rows: repeat(20,1fr);
  background-color: gray;
  z-index: 3;
}

.linea{
  position: relative;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("/assets/k/linea.png");
}

.top{
  grid-area: 5/1/6/21;
}

.bottom{
  grid-area: 16/1/17/21;
}

.spriteUser{
  position: relative;
  grid-area: 6/1/16/21;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("/assets/k/spriteUser.png");
}
.spriteContra{
  position: relative;
  grid-area: 6/1/16/21;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("/assets/k/spriteContra.png");
  z-index: 3;
}

.pjUser{
  position: relative;
  grid-area: 7/8/16/15;
  background-size: 100% 100%;
  background-image: url("/assets/pjs/frontSpriteUser.png");
  z-index: 5;
}

.pjContra{
  position: relative;
  grid-area: 7/8/16/15;
  background-size: 100% 100%;
  background-image: url("/assets/pjs/frontSpriteContra.png");
  z-index: 5;
}

.vs{
  position: relative;
  grid-area: 9/10/13/13;
  background-size: 100% 100%;
  background-image: url("/assets/pjs/vs.png");
  z-index: 5;
}

.flash{
  position: relative;
  background-size: 100% 30%;
  background-repeat: no-repeat;
  background-image: url("/assets/k/flash.png");
  opacity: 50%;
  z-index: 4;
}

.flash1{
  grid-area: 7/1/8/2;
}
.flash2{
  grid-area: 8/1/9/2;
}
.flash3{
  grid-area: 10/1/11/2;
}
.flash5{
  grid-area: 11/1/12/2;
}
.flash4{
  grid-area: 12/1/13/2;
}
.flash6{
  grid-area: 14/1/15/2;
}

/*Combate*/
.personajeUser{
  position: relative;
  right: 0;
  grid-area: 13/5/21/8;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("/assets/pjs/user.png");
}

.personajeContra{
  left: 0;
  position: relative;
  grid-area: 4/15/12/17;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("/assets/pjs/enemy.png");
}

.pokeInfoUser{
  display: grid;
  position: relative;
  z-index: -2;
  grid-template-rows: repeat(6,1fr);
  grid-template-columns: repeat(11,1fr);
  grid-area: 15/10/21/21;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("/assets/k/barraPokeUser.png");
}
.pokeInfoUser .general{
  text-align: center;
  width: 100%;
  height: 100%;
  grid-area: 2/3/3/11;
}

.pokeInfoContra{
  display: grid;
  position: relative;
  z-index: -2;
  grid-template-rows: repeat(6,1fr);
  grid-template-columns: repeat(11,1fr);
  grid-area: 1/1/7/12;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("/assets/k/barraPokeEnemiga.png");
}
.pokeInfoContra .general{
  text-align: center;
  width: 100%;
  height: 100%;
  grid-area: 2/2/3/10;
}

.barraVida{
  position: relative;
  border-radius: 2px;
  display: grid;
  z-index: auto;
  grid-template-columns: 2.7fr 10fr 0.4fr;
  grid-template-rows: repeat(6,1fr);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("/assets/k/barraVida.png");
}

.barraContra{
  grid-area: 4 / 2 / 5 / 10;
}

.barraUser{
  grid-area: 4/3/5/11;
}

.psUser{
  position: relative;
  z-index: -1; /* Coloca a psContra en un nivel inferior */
  grid-area: 2/2/5/3;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("/assets/k/ps.png");
  width: 100%;
}

.psContra {
  position: relative;
  z-index: -1; /* Coloca a psContra en un nivel inferior */
  grid-area: 2 / 2 / 5 / 3;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("/assets/k/ps.png");
  width: 100%;
}

.pokeActivoUser{
  position: relative;
  left: 0;
  top:10px;
  grid-area: 13/4/21/8;
  background-size: 100% 0;
  background-repeat: no-repeat;
  background-position: bottom;
}

.pokeActivoContra{
  position: relative;
  left: 0;
  grid-area: 4/14/12/18;
  background-size: 100% 0;
  background-repeat: no-repeat;
  background-position: bottom;
  opacity: 0;
}

.pokeball{
  position: relative;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("/assets/k/pokeball.png");
  transform-origin: center;
}

.user{
grid-area: 13/1/14/2;
}

.contra{
grid-area: 5/20/6/21;
}

.divBotones{
  opacity: 0;
}

button{
  border-radius: 10px;
  background:#4B6387;
  color:#fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all .5s;
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

button:hover{
  transition: all .5s;
  transform: rotate(-3deg) scale(1.1);
  box-shadow: 0 3px 5px rgba(0,0,0,.4);
}
