<footer class="footer">
    <div class="container">
        <img [src]="'/assets/objetos/pokeballl.png'">
        <span>© 2024 PokeCollector</span>
        <div class="info-section">
            <h3>PokeCollectorCompany:</h3>
            <p>Visita nuestras redes sociales:</p>
            <ul>
                <li><a href="https://www.instagram.com/pokecollector">Instagram</a></li>
                <li><a href="https://twitter.com/pokecollector">Twitter</a></li>
                <li><a href="https://www.facebook.com/pokecollector">Facebook</a></li>
            </ul>
        </div>
        <div class="creators-section">
            <h3>Creado por:</h3>
            <p>Leonardo</p>
            <p>Cristopher</p>
        </div>
    </div>
</footer>
