<div class="container">
  <div class="row align-content-center fadeAnim rounded-4 ">
    <div class="col text-dark text-center">
      <h1>
        <span class="text">Poke</span>
        <span>Collector</span>
        <div class="pokeball"></div>
    </h1>
          <main>
          <p>Nos alegra tenerte aquí en el mejor lugar para los entusiastas de Pokémon. En Pokecollector, podrás explorar un mundo lleno de aventuras y posibilidades donde puedes:</p>
          <ul>
              <li><strong>Coleccionar cartas Pokémon:</strong> Descubre y agrega a tu colección las cartas más raras y poderosas. Construye la colección de tus sueños.</li>
              <li><strong>Capturar Pokémon:</strong> Embárcate en emocionantes expediciones para capturar una gran variedad de Pokémon. Cada captura te acerca más a ser un verdadero Maestro Pokémon.</li>
              <li><strong>Crear equipos Pokémon:</strong> Forma equipos estratégicos con tus Pokémon favoritos. Entrénalos y prepáralos para enfrentar cualquier desafío.</li>
              <li><strong>Combatir:</strong> Participa en combates épicos contra otros jugadores. Demuestra tu habilidad y estrategia en batallas intensas y asciende en la clasificación para convertirte en el mejor.</li>
          </ul>
          <p>Aquí, en Pokecollector, no solo coleccionas y capturas, sino que también formas parte de una comunidad apasionada por el mundo Pokémon. Conéctate con otros entrenadores, comparte tus logros y descubre nuevas formas de disfrutar este maravilloso universo.</p>
          <p>¡Comienza tu aventura hoy y muestra al mundo tu pasión por Pokémon!</p>
          <p>¡Que tus cartas sean legendarias, tus capturas impresionantes y tus batallas gloriosas!</p>
          <p>¡Bienvenido a Pokecollector, entrenador!</p>
      </main>
  </div>
    <div class="col-lg-12">
      <div class="d-flex justify-content-center align-content-center">
        <video class="d-flex justify-content-center align-content-center video" [src]="'/assets/videoss/'+ numberrandom+'.mp4'" autoplay loop muted></video>
      </div>      
    </div>
  </div>
</div>