<body>
    <audio autoplay loop>
        <source [src]="'/assets/sonidos/route1mix.mp3'" type="audio/mpeg">
    </audio>
  
    <div *ngIf="pokemon" class="capture" (window:keydown)="onKeyPress($event)" (window:keydown)="onKeyDown($event)" (window:keyup)="onKeyUp($event)">
        <div #captureZone class="zonacaptura">
            <div *ngFor="let n of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]" class="hierba" [id]="'grass-' + n"></div>
        </div>
        <div #pjElement [style.left.px]="positionX" [style.top.px]="positionY" class="pj" 
            [class.animate]="isMovingdown" 
            [class.animateright]="isMovingright" 
            [class.animateup]="isMovingup" 
            [class.animateleft]="isMovingleft"></div>
    </div>
    <div *ngIf="pokemon" id="collisionOverlay" class="collision-overlay" [hidden]="!collisionDetected">
        <div class="collision-content">
          <div class="pokemon" [style.background-image]="'url(/assets/OnBattle/' + pokemon.num_pokedex + '.gif)'" style="background-size: contain; background-position: center;"></div>
          <div class="backpj" id="backpj"></div>
          <div class="battle-menu">
            <div class="question-box">
              <p>¿Qué quieres hacer? <strong></strong></p>
            </div>
            <div class="options-box">
              <button [disabled]="isLoading" class="option" (click)="click()" (click)="addPokemon()">POKEBALL</button>
              <button [disabled]="isLoading" class="option" (click)="closeCollisionOverlay()" (click)="generarpokemon()">HUIDA</button>
            </div>
            <div class="chat-box">
              <div *ngFor="let message of chatMessages">
                <p><strong>{{ message.sender }}:</strong> {{ message.message }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
</body>
<app-footer></app-footer>