body {
  background-color: rgb(0, 0, 0);
  color: whitesmoke;
  display: flex;
  justify-content: center;
  height: 100%;
}

.capture {
  position: relative;
  width: 512px; 
  height: 512px;
  overflow: hidden;
  background-image: url('/assets/fondo/grass.jpg');
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
}

.zonacaptura {
  width: 198px;
  height: 330px;
  overflow: hidden;
  align-self: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.hierba {
  width: 66px; 
  height: 66px;
  background-repeat: no-repeat;
  background-image: url('/assets/objetos/hierba.png');
  display: flex;
  justify-content: center;
  align-items: center;
}

.pj {
  position: absolute;
  width: 32px;
  height: 47px;
  background-image: url('/assets/pjs/0.png');
}

.pokemon {
  position: absolute;
  background-repeat: no-repeat;
  width: 12%;
  height: 8%;
  left: 420px;
  top: 110px;
}

.backpj {
  position: absolute;
  background-image: url('/assets/pjs/combat0.png');
  background-repeat: no-repeat;
  background-position: 0px 0px;
  width: 128px;
  height: 140px;
  left: 100px;
  top: 232px;
}
.pokeball{
  position: absolute;
  background-image: url('/assets/objetos/throwdef1.png');
  background-repeat: no-repeat;
  background-position: 0px 0px;
  width: 600px;
  height: 61px;
  left: 100px;
  top: 245px;
}

.animationpj{
  animation: pjpoke 1s steps(5);
}

.pokeball.moving {
  animation: pokeballt 4.5s steps(25) forwards, moveToPokemon 1s forwards;
}


@keyframes pokeballt {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0px -1563px;
  }
}
@keyframes pjpoke {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -640px 0px;
  }
}
@keyframes moveToPokemon {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(320px, -122px);
  }
}

@keyframes catch {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0px -552px;
  }
}

@keyframes catch2 {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0px -450px;
  }
}


.animate {
  animation: movedown 0.5s steps(4) infinite;
}

.animateright {
  animation: moveright 0.5s steps(4) infinite;
}

.animateup {
  animation: moveup 0.5s steps(4) infinite;
}

.animateleft {
  animation: moveleft 0.5s steps(4) infinite;
}

@keyframes movedown {
  0% {
      background-position: 0 0;
  }
  100% {
      background-position: 128px 0;
  }
}

@keyframes moveleft {
  0% {
      background-position: 0 35%;
  }
  100% {
      background-position: -128px 35%;
  }
}

@keyframes moveright {
  0% {
      background-position: 0 65%;
  }
  100% {
      background-position: -128px 65%;
  }
}

@keyframes moveup {
  0% {
      background-position: 0 100%;
  }
  100% {
      background-position: -128px 100%;
  }
}

.collision-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.collision-content {
  background-image: url("/assets/k/batallaa.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 700px;
  height: 650px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  position: relative;
  display: flex;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.collision-overlay[hidden] {
  display: none;
}

.battle-menu {
  border-top: 2px solid #000;
  width: 780px;
  height: 200px;
  position: relative;
  top: 340px;
}

.question-box {
  background-color: #21374c;
  color: #ffffff;
  padding: 10px;
  border-bottom: 2px solid #000;
}

.question-box p {
  margin: 0;
}

.question-box strong {
  font-weight: bold;
}

.options-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.option {
  border: 1px solid #000;
  padding: 10px;
  background-color: #ffffff;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
}

.option:hover {
  background-color: #e0e0e0;
}


.chat-box {
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  max-height: 150px;
  overflow-y: auto;
}

.chat-box p {
  margin: 5px 0;
  color: #000000;

}

strong {
  color: #000000;
}
