/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.css";
html{
  background-color: #212529;
  min-width: 400px;
}

@font-face {
  font-family: 'CustomFont';
  src: url('/assets/ttfs/Bitsential.otf');
}

.general{
  font-family: CustomFont, serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveFlashes{
  0%   {left: 1500px;}
  100% {left: -100px;}
}

@keyframes enterVs {
  0%   {left: 1000px;}
  100% {left: -15%;}
}

@keyframes enterSpriteContra {
  0%   {right: 1000px;}
  100% {right: -42%;}
}

@keyframes enterPjContra {
  0%   {left: 1000px;}
  100% {left: 75%;}
}

@keyframes moverPjUser {
  0%   {left: 0}
  100% {left: -90%;}
}

@keyframes fadeIntoCombat {
  0%   {opacity: 100%;}
  70%  {opacity: 100%;}
  100% {opacity: 0;}
}

@keyframes moverPokeIn {
  0%{background-size: 100% 0;}
  100%{background-size: 100% 100%;}
}

@keyframes moverPjUserOut {
  0%{right:0}
  100%{right:1000px}
}

@keyframes moverPjContraOut {
  0%{left:0}
  100%{left:1000px}
}

@keyframes hitPoke {
  0%{left: 0}
  20%{left: -20px}
  40%{left: 20px}
  60%{left: -20px}
  80%{left: 20px}
  100%{left: 0}
}

@keyframes movePokeballContra {

  0% {
    transform:translateX(0) translateY(0) rotate(-0deg);
  }
  50% {
    transform: translateX(-200%) translateY(-150%) rotate(-1440deg);
  }
  100% {
    transform: translateX(-400%) translateY(550%) rotate(-2880deg);
  }
}

@keyframes movePokeballUser {

  0% {
    transform: translateX(0) translateY(0) rotate(0deg);
  }
  50% {
    transform:translateX(150%) translateY(-150%) rotate(1440deg);
  }
  100% {
    transform: translateX(400%) translateY(750%) rotate(2880deg);
  }
}