/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.css";
html{
  background-color: #212529;
}

@font-face {
  font-family: 'CustomFont';
  src: url('/assets/ttfs/Bitsential.otf');
}

.general{
  font-family: CustomFont;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveFlashes{
  0%   {left: 1500px;}
  100% {left: -100px;}
}

@keyframes enterVs {
  0%   {left: 1000px;}
  100% {left: 42%;}
}

@keyframes enterSpriteContra {
  0%   {right: 1000px;}
  100% {right: -15%;}
}

@keyframes enterPjContra {
  0%   {left: 1000px;}
  100% {left: 65%;}
}

@keyframes moverSpriteUser {
  0%   {width: 175%;}
  100% {width: 70%;}
}

@keyframes moverPjUser {
  0%   {left: 40%;}
  100% {left: 8%;}
}

@keyframes fadeIntoCombat {
  0%   {opacity: 100%;}
  70%  {opacity: 100%;}
  100% {opacity: 0%;}
}

@media screen and (max-width: 576px){
  .personajeContra{
    right:5vw;
  }
}
